@model FarmManagement_and_CropMonitoring.Models.Field

@{
    ViewData["Title"] = "Add New Field";
}

<h1>Add New Field</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div class="form-group mb-3">
                <label asp-for="FieldName" class="control-label"></label>
                <input asp-for="FieldName" class="form-control" />
                <span asp-validation-for="FieldName" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="AreaHectares" class="control-label"></label>
                <input asp-for="AreaHectares" class="form-control" type="number" step="0.01" />
                <span asp-validation-for="AreaHectares" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="SoilType" class="control-label"></label>
                <input asp-for="SoilType" class="form-control" />
            </div>
            <div class="form-group mb-3">
                <label asp-for="Location" class="control-label"></label>
                <input asp-for="Location" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Save Field" class="btn btn-success" />
                <a asp-action="Index" class="btn btn-secondary">Back to List</a>
            </div>
        </form>
    </div>
</div>